.bg-hero-image{
    background-image: url('https://picsum.photos/1300/500');
    background-position: center center;
}

.whole{
    background-color:pink;
}

.navbar-brand{
    font-family: Agbalumo;
}

.mb-3{
    font-family: Agbalumo;
    color:pink;
    background-color: white;
    opacity: 90%;
}

.m-3{
    font-family: Agbalumo;
    color:black;    
}