.bg-hero-image{
    background-image: url(Light-Pink-Glitter-Sparkle-Background-Graphics-15700567-1.jpg);
    background-position: center center;
}
/*image from google*/

.whole{
    background-color:pink;
}

.navbar-brand{
    font-family: Agbalumo;
}

.mb-3{
    font-family: Agbalumo;
    color:pink;
    background-color: white;
    opacity: 90%;
}

.m-3{
    font-family: Agbalumo;
    color:black;    
}

.foot{
    font-family: Agbalumo;
    color:white; 
}

.container-fluid{
    font-family: Agbalumo;
    color:white; 
}